{% macro component(badgeLabel='OPEN', 
    badgeClass='badge-soft-dark',
    title='Add UI Buttons Page',
    comments=28,
    assigned='',
    avatarGroup=false,
    avatarCount=1,
    avatars=[
      "assets/images/256_rsz_1andy-lee-642320-unsplash.jpg",
      "assets/images/256_michael-dam-258165-unsplash.jpg",
      "assets/images/256_luke-porter-261779-unsplash.jpg"
    ]) %}
<div class="trello-board__tasks-item card shadow-none border">
  <div class="p-3">
    <p class="m-0 d-flex align-items-center">
      <strong class="text-primary">{{ title }}</strong> <span class="badge {{ badgeClass }} ml-auto">{{ badgeLabel }}</span></p>
    
    <p class="d-flex align-items-center mb-2">
      <i class="material-icons icon-16pt mr-2 text-muted">folder_open</i>
      <small class="text-muted mr-3">Stack</small>
      <i class="material-icons icon-16pt mr-2 text-muted">comment</i>
      <small class="text-muted"><strong>{{ comments }}</strong> comments</small>
    </p>
    <div class="media">
      <div class="media-left {% if avatarGroup %} avatar-group{% endif %}">
        {% for avatar in range(avatarCount) %}
        <div class="avatar avatar-xs">
          <img src="{{ avatars[loop.index0] }}" alt="Avatar" class="avatar-img rounded-circle">
        </div>
        {% endfor %}
      </div>
      <div class="media-body align-self-center small">
        {% if avatarCount > 1 %}
        <a href="" class="text-muted">+{{ avatarCount-1 }} more</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}