.list-group-small > .list-group-item {
  padding-top: .8125rem;
  padding-bottom: .8125rem;
}

.list-lessons {
  margin-bottom: $bottom-spacing;
  .list-group-item {
    // border-left:2px solid transparent;
    a {
      font-size: 1rem;
      color: $body-color;
      font-weight: 600;
    }
    &:hover {
      background: $body-bg;
      a { text-decoration: none; color: $primary; }
    }
    &.active {
      background-color: $body-bg !important;
      border: none;
      border-left:2px solid $primary;
      background: none;
      a {color: $primary; }
    }
  }
}

.list-group {
  &.list-rankings {
    .list-group-item {
      border-left: 0;
      border-right: 0;
      &:first-of-type {
        border-top: 0;
      }
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}