<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>

  {% include 'layouts/_header.html' %}

  {% block head %}
    {% include 'pages/_' + slug + '.head.html' ignore missing %}
  {% endblock %}

</head>
<body class="{{ bodyClass or 'layout-fixed' }}">

  {% set layout = 'fixed' %}
  {% set prefix = 'fixed-' %}
  {% set containerClass = 'container' %}
  {% set home_url = home_url or 'fixed-index.html' %}
  {% set drawerFile = drawerFile or '_drawer.html' %}

  {% set pages_menu = slug === 'blog' or slug === 'trello' or slug === 'edit-account' or slug === 'chat' or slug === 'course' or slug === 'tickets' or slug === 'appointments' or slug === 'properties' or slug === 'email' %}
  {% set components_menu = 'ui-' in slug and slug !== 'ui-charts' and slug !== 'ui-forms' and slug !== 'ui-vector-maps' %}

  {% include 'layouts/_preloader.html' %}

  <!-- Header Layout -->
  <div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->
    {% block header %}
      <div id="header" class="mdk-header bg-dark js-mdk-header m-0" data-fixed data-effects="waterfall">
        <div class="mdk-header__content">
          {% block navbar %}
            {% include 'layouts/_navbar.html' %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
    <!-- // END Header -->

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page">
      {% block page %}
        {% include 'pages/_' + slug + '.html' ignore missing %}
      {% endblock %}
    </div>
    <!-- // END Header Layout Content -->

  </div>
  <!-- // END Header Layout -->

  {% include 'layouts/' + drawerFile ignore missing %}

  {% include 'layouts/_drawer.events.html' %}

  {% include 'layouts/_app-settings.html' %}

  {% include 'layouts/_footer.html' %}

  {% block footer %}
    {% include 'pages/_' + slug + '.footer.html' ignore missing %}
  {% endblock %}
</body>
</html>